/* Positionning% */
* {
  box-sizing: border-box;
}
body {
    display: flex;
}

body div {
  width:45vw;
  height: 70vh;
  margin: 5vw;
}

#input, #output {
  width: 100%;
  height: 60vh;
  margin: 0;
}

/* General styles for the page body */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f7f9;
  color: #333;
  padding: 20px;
  line-height: 1.6;
}

#input {
  background-color: #ffffff;
  border: 2px solid #e0e6ed;
  border-radius: 8px;
  padding: 15px;
  font-size: 16px;
  color: #444;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  resize: none;
  overflow-y: auto;
}

#input:focus {
  border-color: #007bff;
  box-shadow: 0 3px 6px rgba(0, 123, 255, 0.1);
  outline: none;
}

#output {
  background-color: #ffffff;
  border: 2px solid #e0e6ed;
  border-radius: 8px;
  padding: 15px;
  font-size: 16px;
  color: #444;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}


h1 {
  position: absolute;
  top:10px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  display: flex;
  text-align: center;
  flex-direction: column;
}

h1 p {
  font-size: 50%;
}

h2 {
  text-align: center;
}

#github-button {
  position: absolute;
  top: 10px;
  right: 10px;
  display: inline-block;
  background-color: #24292e;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  transition: background-color 0.3s ease;
  margin-top: 20px; /* Space above the button */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

#github-button:hover {
  background-color: #444c56; /* Darker shade on hover */
}

table {
  table-layout: fixed;
  width: 100%;
/*  border-collapse: collapse;*/

  border: 2px solid #e0e6ed;
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
  
}

td, tr {
/*  border: 1px solid black;*/
}

td:nth-child(1) {
  margin: 5px;
  border-right: 2px solid #e0e6ed;
}